{% extends 'base.html' %} {% block content %}

<h1>About Plush LaMode</h1>
<hr />
 <!-- <p> This app id dedicated to helping you find your inner plush </p> -->

 <div class="row">
    <div class="col s12 m6">
      <!-- <div class="card"> -->
        <!-- <div class="card-content white-text"> -->
          <span class="card-title">Mission Statement</span>
          <p>Plush LaMode is a rapidly growing pureplay fashion brand selling women's clothing internationally. We pride ourselves on being the place that everyone turns to when buying something that's a ‘little bit extra.’</p>
          <p>We exist to provide trend driven high quality products from ethical supply chains that will turn heads and get you noticed.</p>
        </div>
        <div class="card-action">
         
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <!-- <div class="card #d7ccc8 brown lighten-4"> -->
        <!-- <div class="card-content white-text"> -->
          <span class="card-title">Contact Us</span>
          <p></p>
        </div>
        <form action="mailto:jordintaylor095@gmail.com"
        method="POST"
        enctype="multipart/form-data"
        name="EmailForm">
            Name:<br>
            <input type="text" size="19" name="Contact-Name"><br><br>
            Email:<br>
            <input type="email" name="Contact-Email"><br><br> 
            Message:<br> 
            <textarea name="Contact-Message" rows="6″ cols="20″>
            </textarea><br><br> 
            <button type="submit" value="Submit">Send</button>
        </form> 
        
        <div class="card-action">
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}