{% extends 'base.html' %} {% block content %}

<h1></h1>
<div class="row">
    <div class="col s12 m7">
      <div class="card large">
        <div class="card-image">
          <img src="https://64.media.tumblr.com/b1efcf6f5946365b8a402bd45d4b7462/ac1aa59d963c60ce-ee/s1280x1920/c4005b9c0728ddc8753bd6a68a0b7a5c58b69d38.jpg">
          <span class="card-title">Welcome</span>
        </div>
        <div class="card-content">
          <p>Bienvenue à la boutique de haute couture</p>
        </div>
        <div class="card-action">
          <!-- <a href="#">This is a link</a> -->
        </div>
      </div>
    </div>
  </div>


{% endblock %}