{% extends 'base.html' %} {% block content %}

<h1>Dress Rack</h1>

{% for dress in dresses %}
<div class="card">
  <a href="/dresses/{{ dress.id }}">
  <div class="card-content">
    <span class="card-title">{{ dress.name}}</span>
    <p><img src="{{dress.img_url}}" alt=""></p>
    <p>Style: {{ dress.style }}</p>
    <p>Material: {{ dress.material }}</p>
    <p>Description: {{ dress.description }}</p>
    <p>Color: {{ dress.color }}</p>
    <p>Price: {{ dress.price }}</p>
     </div>
     </a>
    </div>
    {% endfor %} {% endblock %}
